<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings >
    <add key="DCSoft.Writer.Options.SecurityOptions.EnablePermission" value="true|false" />
    <add key="DCSoft.Writer.Options.SecurityOptions.RealDeleteOwnerContent" value="true|false" />
    <add key="DCSoft.Writer.Options.SecurityOptions.ShowPermissionTip" value="true|false" />
    <add key="DCSoft.Writer.Options.SecurityOptions.PowerfulSignDocument" value="true|false" />
    <add key="DCSoft.Writer.Options.SecurityOptions.EnableLogicDelete" value="true|false" />
    <add key="DCSoft.Writer.Options.SecurityOptions.ShowLogicDeletedContent" value="true|false" />
    <add key="DCSoft.Writer.Options.SecurityOptions.ShowPermissionMark" value="true|false" />
    <add key="DCSoft.Writer.Options.ViewOptions.PrintImageAltText" value="true|false" />
    <add key="DCSoft.Writer.Options.ViewOptions.ShowHeaderBottomLine" value="true|false" />
    <add key="DCSoft.Writer.Options.ViewOptions.ShowCellNoneBorder" value="true|false" />
    <add key="DCSoft.Writer.Options.ViewOptions.NoneBorderColor" value="Color" />
    <add key="DCSoft.Writer.Options.ViewOptions.TextRenderStyle" value="SystemDefault|SingleBitPerPixelGridFit|SingleBitPerPixel|AntiAliasGridFitAntiAlias|ClearTypeGridFit" />
    <add key="DCSoft.Writer.Options.ViewOptions.ShowParagraphFlag" value="true|false" />
    <add key="DCSoft.Writer.Options.ViewOptions.ShowPageLine" value="true|false" />
    <add key="DCSoft.Writer.Options.ViewOptions.RichTextBoxCompatibility" value="true|false" />
    <add key="DCSoft.Writer.Options.ViewOptions.MinTableColumnWidth" value="50" />
    <add key="DCSoft.Writer.Options.ViewOptions.FieldBackColor" value="颜色值，例如 AliceBlue" />
    <add key="DCSoft.Writer.Options.ViewOptions.FieldHoverBackColor" value="颜色值，例如 LightBlue" />
    <add key="DCSoft.Writer.Options.ViewOptions.FieldFocusedBackColor" value="颜色值，例如 LightBlue" />
    <add key="DCSoft.Writer.Options.ViewOptions.FieldInvalidateValueBackColor" value="颜色值，例如 LightCoral" />
    <add key="DCSoft.Writer.Options.ViewOptions.BackgroundTextColor" value="颜色值，例如 Gray" />
    <add key="DCSoft.Writer.Options.ViewOptions.SelectionHighlight" value="None|Invert|MaskColor" />
    <add key="DCSoft.Writer.Options.ViewOptions.SelectionHightlightMaskColor" value="颜色值，例如 50,0,0,255" />
    <add key="DCSoft.Writer.Options.BehaviorOptions.DebugMode" value="true|false" />
    <add key="DCSoft.Writer.Options.BehaviorOptions.EnableExpression" value="true|false" />
    <add key="DCSoft.Writer.Options.BehaviorOptions.Printable" value="true|false" />
    <add key="DCSoft.Writer.Options.BehaviorOptions.EnableScript" value="true|false" />
    <add key="DCSoft.Writer.Options.EditOptions.KeepTableWidthWhenInsertDeleteColumn" value="true|false" />
    <add key="DCSoft.Writer.Options.EditOptions.FixWidthWhenInsertImage" value="true|false" />
    <add key="DCSoft.Writer.Options.EditOptions.FixWidthWhenInsertTable" value="true|false" />
    <add key="DCSoft.Writer.Options.EditOptions.TabKeyToFirstLineIndent" value="true|false" />
    <add key="DCSoft.Writer.Options.EditOptions.TabKeyToInsertTableRow" value="true|false" />
    <add key="DCSoft.Writer.Options.EditOptions.AutoEditElementValue" value="true|false" />
    <add key="DCSoft.Writer.Options.EditOptions.ValueValidateMode" value="None|Dynamic|LostFocus|Program" />
  </appSettings>
</configuration>